.completed {
    text-decoration: line-through;
}

p {
    margin-left: 64px;
    margin-top: 16px;
    display: flex;
    line-height: 1.5;
    text-decoration: none;
}

input[type=checkbox] {
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: solid 1px #8c8c8c;
    margin-right: 8px;
}

input[type=checkbox]:checked p{
    text-decoration: line-through;
}

.img-x {
    margin-left: 8px;
    width: 24px;
    height: 24px;  
    display: none;
    line-height: 1;
}

p:hover .img-x{
    display: block;
}